body{
    //background-color:  #333;
    font-family: 'Raleway', sans-serif;
}

.card .card-title {
    font-size: 13px;
    font-weight:bolder;
    padding: 0px;
    margin: 0px;
}

img{
    height: 320px;
    width: 213px;
}

p{
    text-align: justify;
}